video {
  position: fixed;
  top: 40%
  bottom: 0;
  min-width: 100%;
  min-height: 30%;
  opacity:0.3;
  -webkit-filter: navy;
  filter:navy;
}


.content {
  position: fixed;
  margin-left: 35%;

  bottom: 20%;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 20%%;
  height: 50%;
}

.content p{
  line-height: 20px;
}
]
