p{
  font-size: 14px;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 30px;
  margin-left: 150px;
  margin-right:150px;

}
h2{
  margin-left:100px;
  margin-top: 20px;
  padding:10px;
  font-family: 'Staatliches', cursive;
}

.description img{
  width: 1200px;
  margin-left:8%
}
.explanation a{
  margin-left: 100px;
}
hr{
  margin-left: 8%;
  width: 85%;
}
.cover-title span{
  font-size: 0.5em;
  display:block;
  text-indent: 3em;
}
.cover-title{
  font-family: 'Staatliches', cursive;
  color: white;
  font-size: 100px;
  margin:10px;
  transition: padding .5s;
}
#sub {
  font-family: 'Staatliches', cursive;
  color: white;
  font-size: 50px;
  margin-left: 40px;
  transition: padding .5s;
}
.cover{
  background-image: url(bugil.png);
  padding-top: 10%;
  padding-bottom:10%;
  background-size: cover;
  background-position: bottom;
  transition: padding .5s;
}
