
p{
  font-size: 14px;
  font-family:AvenirLTStd-Book;
  line-height: 20px;
  margin-left: 150px;
  margin-right:150px;
}
h2{
  margin-left:100px;
  padding:10px;
  font-family:AvenirLTStd-Book;
}

.description img{
  width: 1200px;
  margin-left:8%
}
.explanation a{
  margin-left: 100px;
}
